header{
background-image: url(images/web.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 700px;
}

nav {
	background-color: #422302; 
}
nav .row .col:hover{
	background-color:#422302;
}

nav h3 {
color:#ffffff; 	
}
img{
	width: 100%;
}
